body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

#hierarchy-view-row {
  display: flex;
  flex-direction: row;
}

#hierarchy-view-tree {
  margin-top: 30px;
  margin-right: 30px;
}

.exception-list-div {
  margin-bottom: 8px;
}

.centered-label {
  display: flex;
  align-items: center;
}
