body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

#hierarchy-view-row {
  display: flex;
  flex-direction: row;
}

#hierarchy-view-tree {
  margin-top: 30px;
  margin-right: 30px;
}

.coldspot-div, .exception-list-div {
  margin-bottom: 8px;
}

#start-date-div {
  margin-right: 5px;
}

#start-time-div {
  margin-left: 5px;
  margin-right: 30px;
}

#end-date-div {
  margin-left: 30px;
  margin-right: 5px;
}

#end-time-div {
  margin-left: 5px;
}

.prop-filter-div {
  margin-right: 5px;
}

.centered-label {
  display: flex;
  align-items: center;
}
